<main class="main">
  <div class="content">
    <div class="up-side">
      <h1>{{ title }}</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="down-side">
      <div class="todo-list">
        <input
          type="text"
          class="todo-input"
          placeholder="Add a new task"
          [(ngModel)]="newTask"
          maxlength="10"
        />
        <button class="add-button" type="button" (click)="addTask()">Add</button>
        <div class="newTask-list">
          @for (task of tasks; track tasks) {
            <div class="task">
              <label class="task-label">
                <input 
                  type="checkbox" 
                  class="task-checkbox"
                  [(ngModel)]="isChecked"
                  (change)="checkValue(isChecked)"/>
                <span class="task-name">{{ task }}</span>
              </label>
              <button class="delete-button" type="button" (click)="deleteTask()">Delete</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
