<main class="main">
  <div class="content">
    <div class="up-side">
      <h1>{{ title }}</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="down-side">
      <div class="todo-list">
        <input
          type="text"
          class="todo-input"
          placeholder="Add a new task"
          [(ngModel)]="newTask"
          maxlength="15"
        />
        <button class="add-button" type="button" [disabled]="!newTask" (click)="addTask()">Add</button>
        <div class="newTask-list">
          @for (task of this.tasks; track task.id) {
            <div class="task">
              <label class="task-label">
                <input 
                  type="checkbox" 
                  class="task-checkbox"
                  [(ngModel)]="isChecked"
                  (change)="onCheckboxChange(task)"/>
                <span class="task-name">{{ task.name }}</span>
              </label>
              <button class="delete-button" type="button" [disabled]="isDisabled" (click)="deleteTask(task.id)">Delete</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
